body {
    /* color de fondo - tipo y color de letra*/

    background-color: black;

    background-image: radial-gradient(circle, blue, black, white);
    font-family: Calibri;
    color: white;
    padding: 0;
    margin: 0 ;


}

.centrar {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*--------------------------------------------------------------------------------------------------------------*/
/* PAGINA PRINCIPAL*/

/* Encabezado: solo contiene el logo*/

.contenedor .Logo {
    /* contendor de la imagen logo*/

    display: flex;

    flex-direction: row;
    /*El valor row apila los elementos flexibles horizontalmente (de izquierda a derecha):*/

    justify-content: center;
    /* alinea los elementos flexibles en el centro del contenedor*/

    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-image: radial-gradient(circle, white, white, blue);
    border: 6px outset #0033FF;
    border-radius: 12px;
    padding: 5px;
}

/* IMAGENES EN MOVIMIENTO*/
.img-mov {

    border-radius: 100px;
    border: 3px solid blue;
    height: 100px;
    position: relative;
    animation: mymove 3s infinite;
}

.img-mov {
    animation-timing-function: linear;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 50px;
    }
}

.contenedor #logo {

    position: relative;
    animation: mymove2 3s infinite;

}

.contenedor #logo {
    animation-timing-function: linear;
}

@keyframes mymove2 {
    from {
        left: 0px;
    }

    to {
        left: 50px;
    }
}


/**/

/* MENU*/

/* estilo menu*/
.contenedor .menu {
    /* letra menu menos GUIA DEL JUEGO*/

    font-weight: bold;
    font-size: x-large;
    text-shadow: 8px 8px 10px black;
}



/*menu*/

.lista-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: large;
}

li {
    float: left;
}

li a,
.dropbtn {
    /* TODOS LOS MENU*/
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 8px 8px 10px black;

}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E1F5FE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    /* */
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;

}

.dropdown:hover .dropdown-content {
    display: block;
    /* menu desplegable en filas*/

}


/**/
/*ARTICULOS*/

/* ARTICULO 1 : VIDEO*/

.contenedor .columna {
    /* style texto articulo 1*/

    font-size: 20px;
    border-bottom: 3px solid #CFD8DC;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.contenedor iframe {

    border: 20px solid #3333FF;
    border-style: ridge;
    border-radius: 10px;
    box-shadow: 20px 20px 30px white;

}


#video {
    /* CENTRAR ELEMENTOS*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    /* align-items: center;*/

}

/*ARTICULO EN 3 COLUMNAS*/

#logo-negro {
    /* logo negro al comienzo de la columna*/

    border-radius: 100px;
}

.columna {
    column-count: 3;
    column-gap: 40px;
    /*espacios entre columnas*/
    column-rule-style: solid;
    /*lineas entre las columnas*/
    column-rule-width: 2px;
    /*especifica el ancho de la regla entre columnas*/
    column-rule-color: lightblue;
    /*especifica el color de la regla entre columnas*/
    column-rule: 6px solid lightblue;
    /*estilo de la regla*/
    column-span: all;
    /*especifica cuántas columnas debe abarcar un elemento*/
    column-width: 100px;
    /*especifica un ancho óptimo sugerido para las columnas.*/
    margin-bottom: 40px;
    margin-top: 40px;
}



/*ARTICULO 2*/


.fotos-articulo-2 img {

    display: inline-block;
    margin-left: 50px;
    box-shadow: 20px 20px 30px white;

}

.articulo-2 {
    font-size: 20px;
    /*border-bottom: 3px solid #CFD8DC; /*linea al final del texto*/
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    /*border: 10px solid black;*/
}


.ul-articulo-2 {
    margin-top: 30px;
    margin-bottom: 30px;
    /*margin-left: 5px;*/
}

.ul-articulo-2 .li-articulo-2 {
    margin-top: 10px;
}

.ul-articulo-2 span {

    margin-left: 5px;
}




/**/

/*ARTICULO 3*/

.articulo-3 {

    margin-top: 30px;
}

.articulo-3 span {
    /*cambio de tamaño del titulo principal para que quede en una sola linea*/

    font-size: 40px;


}


.articulo-3 img {
    margin-top: 40px;
    border-radius: 30px;
    box-shadow: 20px 20px 30px white;
    margin-bottom: 30px;
    border: 10px double #E0E0E0;

}

.articulo-3 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.articulo-3 div {

    margin-top: 10px;
    margin-bottom: 10px;
}

.articulo-3 .pregunta {

    font-style: italic;

}

/* Redes sociales PARA TODAS LAS PAGINAS!! */
.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* alineacion del texto*/
    border: solid 4px white;
    font-weight: bold;
    font-size: 30px;
    background-image: radial-gradient(circle, white, white, blue);
    border: 6px outset #0033FF;
    border-radius: 12px;
    height: 100px;
    color: black;
    padding: auto;
    margin-top: 100px;
    /* verificar al final del proyecto*/
}


.redes-sociales #logos-redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
}

.redes-sociales #logos-redes-sociales .img-descarga {
    width: 50px;
}


/*-------------------------------------------------------------------------------------------------------------------
/* PAGINA DESCARGA*/


/* Encabezado DESCARGA*/

.titulos {
    text-align: center;
    font-size: 40px;
    /* text-shadow: black;*/
    text-decoration: underline;
    text-shadow: 8px 8px 10px #0033FF;
    margin-bottom: 20px;

    /*border: 10px solid black;*/

}

.contenedor-descarga img {

    display: flex;
    flex-direction: column;
    margin-left: 550px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px white;
    /*border: 3px solid fuchsia;*/

}





/* ICONO HOME*/



/*---------------------------------------------------------------------------------------------------------*/

/* Pagina de CONTACTO*/

/* ENCABEZADO*/
.contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;


}

.contenedor-contacto {
    position: relative;

}

.img-contacto {
    border-radius: 100%;
    box-shadow: 20px 20px 30px white;
    /*sombra de la imagen*/
}

.tit-contacto {
    position: absolute;
    bottom: 200px;
    left: 350px;
    font-family: Calibri;
    font-size: 60px;
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

/**/
/* Pagina de CONTACTO*/
/* FORMULARIO*/

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block;*/
    border: 4px solid blue;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    /* boton ENVIAR mas pequeño*/
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;
    /* boton ENVIAR centrado*/
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
}

input[type=submit]:hover {

    background-color: white;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 4px solid blue;
    border-radius: 4px;
    /*    background-color: #f8f8f8;*/
    font-size: 16px;
    /*   resize: none;*/
}


.contenedor-formulario {

    width: 500px;
    margin-left: 430px;
    /*CENTRADO*/
    margin-top: 50px;
    /*CENTRADO*/

}

.formulario {
    border: 4px solid #00CCFF;
    border-radius: 10px;
    padding: 10px;
}



/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* clase HOME: vuelve a la pagina de inicio en todas las paginas del menu*/
.home {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.home img {
    width: 80px;
    border-radius: 50px;
}

.home a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*alinea el texto*/
}

.home span {
    color: white;
    font-size: x-large;
    margin-left: 20px;
    margin-right: 30px;
}

footer span {
    color: black;
    font-weight: bolder;
}

/** PAGINA MI PERSONAJE---------------------------------------------------------------------*/

.personaje {

    width: 400px;
    border-radius: 20px;
    border: 5px solid fuchsia;
    box-shadow: 20px 20px 30px white;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;

}


.titulos-paginas {
    /* paginas del menu*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-align: left;
    font-size: 40px;
    /* text-shadow: black;*/
    text-decoration: underline;
    text-shadow: 8px 8px 10px #0033FF;
}

.img-titulo {
    /*imagenes titulo principal de las paginas*/

    border-radius: 30px;
}

.img-articulo-1 {
    /* imagenes centradas con bordes redondos*/

    width: 300px;
    border: 10px double #E0E0E0;
    margin-right: 50px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;

}


.espacio-lineas {

    line-height: 1.9;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 25px;
}

/** PAGINA POTENCIADORES---------------------------------------------------------------------*/


.potenciadores {

    width: 100px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    /*border: 3px solid black;*/
    margin-left: 30px;
    margin-top: 30px;

}

.potenciadores img {
    width: 90px;
    border-radius: 100px;
}

.texto-potenciadores {
    /*style para las paginas del menu---?*/

    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.potenciadores img {
    border: 3px solid fuchsia;
    box-shadow: 20px 20px 30px white;
}

.resaltar {
    /*resaltar palabaras espaciales*/
    font-size: 30px;
    font-weight: 900;
    color: fuchsia;
    text-shadow: 8px 8px 10px blue;

}

.texto-potenciadores {

    font-size: 30px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* ENLACES POTENCIADORES*/

.potenciadores .sp {

    width: 100px;
    margin-left: 600px;
    ;

}

/*Pagina: MASCOTAS*/


.texto-mascotas {

    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

ol li {
    text-align: left;
    font-weight: bolder;
}

.galeria {
    display: inline-block;
    justify-content: first baseline;
    margin-top: 30px;

}

.galeria img {

    width: 200px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 8px 8px 10px fuchsia;
    border: 2px solid fuchsia;
}

.descripcion {
    text-align: center;
    font-family: Calibri;
    font-weight: bolder;
    border: 2px solid fuchsia;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    box-shadow: 8px 8px 10px fuchsia;
    font-size: 20px;

}

/*------------------------------------------------------------------------------------------*/

/*PAGINA: GALERIA*/

.carrusel-items {
    display: flex;
    overflow-x: hidden; /* scroll en eje x* luego de terminar cambiar de scroll a hidden/
    overflow-y: hidden; /* desaparece scroll vertical*/
    /*border: 3px solid blue;*/
    padding: 50px 0px; /* se agranda la imgagen cuando se para sobre ella*/

    

}

.carrusel-item {
    min-width: 400px;
    max-width: 400px;
    height: 300px;

}

.carrusel-item img {

    width: 90%;
    height: 90%;
    object-fit: cover; /* las imagenes se ajustan al tamaño del contenedor*/
    outline: 3px solid fuchsia; /*linea de afuera*/
    border-radius: 10px;
    box-shadow: 20px 20px 30px white;

}

.carrusel-item:hover {
    /*se agranda imagen cuando para*/
    transform: scale(1.7);

}

.carrusel {
    margin-top: 20px;
  
}

/*------------------------------------------------------------------------------------------*/

/*PAGINA: CLIENTES ESPECIALES*/





